* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* CONTAINER */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* ROW */

.row {
    display: flex;
    flex-wrap: wrap;

}

.space-between {
    justify-content: space-between;
}

/* COLUMN */

.col-3 {
    flex-basis: calc(100%/3);
}

.col-2 {
    flex-basis: calc(100%*2/3);
}

/* BUTTONS */

.button {

}

.button--white {

}

/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 0;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.hamburger {
    display: none;
}

/* MEDIAQUERY HEADER */

@media only screen and (max-width: 991px) {
    .hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }
}

/* HERO */

.card {
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #333333;
    min-height: 200px;
}

/* MEDIAQUERY HERO */

@media only screen and (max-width: 575px) {
    .hero [class^="col-"] {
        flex-basis: calc(100%);
    }

}

/* SECTION1*/

.section1{
    background-color: var(--purple);
    height: 700px;
}
.width-250{
    width: 250px;
    font-size: 13px;
    padding-top: 38px;
}
.row-sec2{
    justify-content: center;
    padding: 90px;
}
.card2-section2{
    background-color: white;
    border-radius: 20px;
    width: 260px;
    height: 370px;
    text-align: center;
    
}
.col-sec2{
    color: white;
}
.padding-card2-section2{
    padding-top: 15px;
}
.arrow-bg{
    background-color: var(--purple);
    border-radius: 20px;
    width: 30px;
    height: 30px;
    line-height: 32px;

}
@media only screen and (max-width: 710px) {
    .section1{
        height: 1200px;
    } 
   
}
